*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 40px 0 40px 0;
	padding: 0 20px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7.5vmin;
}

#game-board {
	background-color: #ccc;
	display: grid;
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	gap: var(--cell-gap);
	position: relative;
	padding: var(--cell-gap);
	border-radius: 1vmin;
}

.cell {
	background-color: #aaa;
	border-radius: 1vmin;
}

.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--cell-size);
	width: var(--cell-size);
	position: absolute;
	top: calc(
		(var(--y) * (var(--cell-size) + var(--cell-gap))) + var(--cell-gap)
	);
	left: calc(
		(var(--x) * (var(--cell-size) + var(--cell-gap))) + var(--cell-gap)
	);
	border-radius: 1vmin;
	font-weight: bold;
	background-color: hsl(200, 50%, var(--background-lightness));
	color: hsl(200, 25%, var(--text-lightness));
	animation: show 200ms ease-in-out;
	transition: 100ms ease-in-out;
}

@keyframes show {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}

.btns-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
}

.new-game-btn {
	background-color: #636262;
	color: #fff;
	border: none;
	border-radius: 1vmin;
	font-size: 15px;
	font-weight: 600;
	padding: 0.8rem;
	cursor: pointer;
}

.score-container {
	display: flex;
	text-align: center;
}

.score-div {
	min-width: 70px;
	background-color: #ccc;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 1vmin;
	margin-right: 5px;
	padding: 5px;
}

.score-div > #score {
	margin-right: 5px;
}

#score::before {
	content: "Score";
	display: block;
	color: rgba(0, 0, 0, 0.6);
}

#best::before {
	content: "Best";
	display: block;
	color: rgba(0, 0, 0, 0.6);
}

.game-over {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(182, 174, 174, 0.5);
	color: #202020;
	font-size: 40px;
	font-weight: bold;
	border-radius: 1vmin;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1000ms ease, visibility 1000ms ease;
}

.game-over button {
	margin: 1.2rem;
	padding: 0.9rem 1.6rem;
	border: 1px solid #aaa;
	border-radius: 6px;
	font-size: 1.1rem;
	font-weight: 600;
	background-color: #636262;
	color: #fff;
	cursor: pointer;
}

.game-over.show {
	opacity: 1;
	visibility: visible;
}
